/****** Script for SelectTopNRows command from SSMS  ******/

--CREATE TABLE [DSSI].[dbo].[RH_VisibilityWall_BaselineIgnore]
--( [indicatorID] varchar(15)
--,[indicatorName] varchar(255)
--,[entity_group] varchar(255)
--,[facility]  varchar(255)
--,timeframe date
--)

--INSERT INTO [DSSI].[dbo].[RH_VisibilityWall_BaselineIgnore]
--VALUES(3,'ALC Rate Based on Discharges','Home & Community Care','Richmond Hospital','2016-12-15')

--SELECT * 
--FROM DSSI.[dbo].[RH_VisibilityWall_IndicatorTableAll]
--WHERE indicatorname='ALC Rate Based on discharges'
--AND timeframe between '2016-07-07' AND '2017-07-06'
--AND entity_group='Surgery & Procedural Care'
--and Value >=0.5


